<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shakespeare's Greatest Hits</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body>

    <div>
        <h1>Our Books</h1>
        <p>by our favorite rebel</p>
        <div class="row">
          <div class="col-sm-4"><img src="C:\Users\Murali\FSAssignment3\introtodev\ReactProject\components\Midsummer.jpg" alt="Midsummernight's Dream" style="width:125px; height:125px;">
          </div>
          <div class="col-sm-4"><img src="C:\Users\Murali\FSAssignment3\introtodev\ReactProject\components\MerchVenice.jpg" alt="Merchant of Venice" style="width:125px; height:125px;">
        </div>
          <div class="col-sm-4"><img src="C:\Users\Murali\FSAssignment3\introtodev\ReactProject\components\Othello.jpg" alt="Othello" style="width:125px; height:125px;">
        </div>
      </div>
<footer>
  <p>-William Shakespeare (1564 - 1616) The Original <i>"South Park"</i>-style Satirist!</p>
</footer>

</body>
</html>